<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Cache-Control" content="max-age=7200" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta name="next-size-adjust">
    <link rel="icon" href='{{getStaticPath "/logo.svg"}}'/>
    <link rel="stylesheet" href='{{getStaticPath "/css/normalize.min.css?v=0.2"}}'>
    <link rel="stylesheet" href='{{getStaticPath "/css/main.min.css?v=0.20"}}'>
    <script src='{{getStaticPath "/js/jquery.min.js"}}'></script>
    <script src='{{getStaticPath "/js/main.js"}}?v=0.1'></script>
    <script src='{{getStaticPath "/js/unocss.js"}}'></script>
    <link rel="dns-prefetch" href="http://cdn.wangtwothree.com/">
    <link rel="dns-prefetch" href="http://analysis.wangtwothree.com/">
    <link rel="dns-prefetch" href="http://zhulink.vip/">
    {{ template "title" . }}
    <link rel="canonical" href="{{.SiteUrl}}{{.path}}" />
    <script async src="https://analysis.wangtwothree.com/random-string.js" data-website-id="68cb6933-0504-492e-bd3d-71ddd8147518"></script>
    <style>
        body:hover {
            border-image: url("/hit/?path={{.path}}&ref={{ .refer }}");
            border-width: 0;
        }
    </style>
    {{if .settings.Css}}
        <style>
            {{.settings.Css | css}}
        </style>
    {{end}}
    {{if .settings.Js}}
        <script>
            {{.settings.Js | js}}
        </script>
    {{end}}
</head>
<body class="dark:bg-slate-700 bg-slate-50">
<div class="x-main w-full h-full lg:w-1000px mx-auto p-2 dark:text-white/70 " un-cloak>
    {{template "header" . }}
    {{template "content" .}}
    {{template "footer" .}}
</div>
{{if .ClientID }}
<div id="g_id_onload"
     data-client_id="{{.ClientID}}"
     data-context="signin"
     data-invite_code="{{.code}}"
     data-login_uri="{{.SiteUrl}}/oauth/callback/google"
     {{ if eq .login nil}} data-auto_select="true" data-itp_support="true" {{else}} data-auto_prompt="false" {{end}}>
</div>
<script src="https://accounts.google.com/gsi/client" async></script>
{{end}}
{{ template "afterBody" . }}
</body>
</html>
