<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="max-age=7200" />
    <link rel="icon" href='/static/logo.svg'/>
    <link rel="stylesheet" href='/static/css/normalize.min.css?v=0.2'>
    <link rel="stylesheet" href='/static/css/main.min.css?v=0.27'>
    <script src='/static/js/jquery.min.js'></script>
    <script src='/static/js/main.js?v=0.2'></script>
    <script src='/static/js/unocss.js'></script>
    <link rel="dns-prefetch" href="https://cdn.wangtwothree.com/">
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com/">
    <link rel="dns-prefetch" href="https://analysis.wangtwothree.com/">
    <link rel="dns-prefetch" href="https://zhulink.vip/">
    <meta name="author" content="{{.siteName}}">
    {{ template "title" . }}
    <link rel="canonical" href="{{.SiteUrl}}{{.path}}" />
    <link href="{{.SiteUrl}}/feed" rel="alternate" type="application/rss+xml" title="{{.siteName}}" />
    <script async defer src="https://pingoo.c2v2.com/pingoo.js" site-id="5"></script>
    <style>
        body:hover {
            border-image: url("/hit/?path={{.path}}&ref={{ .refer }}");
            border-width: 0;
        }
    </style>
    {{if .settings.Css}}
        <style>
            {{.settings.Css | css}}
        </style>
    {{end}}
    {{if .settings.Js}}
        <script>
            {{.settings.Js | js}}
        </script>
    {{end}}
</head>
<body class="dark:bg-slate-700 bg-slate-50" data-instant-allow-external-links>
<div class="x-main w-full h-full lg:w-1000px mx-auto p-2 dark:text-white/70 " un-cloak>
    {{template "header" . }}
    {{template "content" .}}
    {{template "footer" .}}
</div>
{{ template "afterBody" . }}
</body>
</html>
