{{define "footer"}}
    <div class="x-footer flex flex-row gap2 items-center my-8 text-xs text-gray pt-2 pb-4" style="border-top: 1px solid #eee">
        <div>@2025 {{.siteName}}.</div>

        <div class="ml-auto flex flex-row gap2">
            <div class="text-xs"><a class="underline" href="/moderations">审核日志</a></div>
            <div class="text-xs"><a class="underline" href="/p/about">About</a></div>
            <div class="text-xs"><a class="underline" href="/sitemap.xml">SiteMap</a></div>
            <div class="text-xs"><a class="underline" href="/feed">Feed</a></div>
            <div>响应:{{.executionTime}}ms</div>
            <div>版本:v{{.VERSION}}</div>
            <div>缓存于:{{.cacheTime}}</div>
        </div>
    </div>
    <div id="back-to-top" class="back-to-top hidden" onclick="window.scrollTo({top: 0, behavior: 'smooth'})">▲</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/instant.page/5.1.0/instantpage.min.js" integrity="sha512-1+qUtKoh9XZW7j+6LhRMAyOrgSQKenQ4mluTR+cvxXjP1Z54RxZuzstR/H9kgPXQsVB8IW7DMDFUJpzLjvhGSQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{end}}