html, body {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
    height: 100%;
}
iframe[data-youtube-id]{width:100% !important;min-height:400px;}
html.dark {
    background-color: #000 !important;
}
body{
    height: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[un-cloak] {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
    word-break: break-all;
}

.x-post-title a:visited{
    color:#5b88b6;
}

.header .selected > a {
    text-decoration: underline;
    text-decoration-color: #5468ff;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.4rem;
}

.content > ol, .content > ul {
    margin-left: 2rem;
    margin-bottom: 1.5em;
}

.content img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100vh;
    width: auto;
    height: auto;
    display: block;
    margin: 1rem 0;
    box-shadow:  10px 10px 22px #cfcfcf,
             -10px -10px 22px #ffffff;
}

.dark .content img {
    box-shadow:  10px 10px 22px #1a2332,
             -10px -10px 22px #232f44;
}


.content .ios {
    -webkit-overflow-scrolling: touch;
    overflow: auto
}

.content .ios body {
    overflow: auto;
    position: relative
}

.content {
    word-wrap: break-word;
    min-height: 100%;
    line-height: 2.3em;
    word-break: break-all;
}


.content table, .content td {
    border: 1px dotted #000;
    empty-cells: show
}

.content table td {
    min-width: 5px
}

.content code {
    background: #f6f8fa;
    direction: ltr;
    padding: .2em .4em;
    text-align: left;
    word-break:break-all;
    color:#000;
    border-radius: 3px;
}

.dark .content code{
    background: #1b222b;
    color: #b4b4b4;
}

.content pre code{
    display: block;
    margin: .25em 0;
    padding: 1em;
}
.content pre ,.content code{
    white-space: pre-wrap; /* css-3 */
    word-wrap: break-word; /* InternetExplorer5.5+ */
    white-space: -moz-pre-wrap; /* Mozilla,since1999 */
    white-space: -pre-wrap; /* Opera4-6 */
    white-space: -o-pre-wrap; /* Opera7 */
}
.content>*:first-child {
    margin-top: 5px !important;
}

.content>*:last-child {
    margin-bottom: 5px !important;
}
.content hr {
    overflow: hidden;
    border: 0;
    padding: 3px;
    background: repeating-linear-gradient(135deg, #a2a9b6 0px, #a2a9b6 1px, transparent 1px, transparent 6px);
}

.content blockquote {
    background: #fff7d9;
    border-left: .3em solid #f4e59f;
    margin: .25em 0;
    padding: .5em .5em .5em .75em;
    color:#000;
}

.content blockquote cite {
    border-bottom: 1px solid #f4e59f;
    display: block;
    font-size: 1em;
    font-weight: 700;
    margin: 0 -.5em .25em -.75em;
    padding: 0 .5em .15em .75em
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    line-height: 1.25;
}

.content h2{
    border-left: 0.15em solid #c0dfff;
    padding-left: 8px;
    font-size: 1.5em;
}

.content h3 {
    font-size: 1.25em;
}

.content h4 {
    font-size: 1em;
}

.content h5 {
    font-size: .875em;
}

.content h6 {
    font-size: .85em;
    color: #9198a1;
}

.content div, .content p {
    min-height: 1.25em;
    margin-bottom: 0.8em;
}

.content a {
    text-decoration: underline;
    color: #5b88b6;
}

#comment-tree .comment:target {
    border: 1px solid #ccc;
}


div.sceditor-group {
    border: 0 !important;
    background-color: transparent !important;
}

.comment-tree {
    margin-left: 1.5rem;
    border-left: 1px dashed #eee;
}

.dark .mytable tr:nth-of-type(odd) {
    background: rgb(71 85 105);
}

.mytable tr:nth-of-type(odd) {
    background: #fff;
}

.mytable th {
    background: #f4f4f5;
    color: #09090b;
    font-size: 12px;
    font-weight: 600;
}

.dark .mytable th{
    background: #19222e;
    color: #f6f6f6;
}

.mytable td, th {
    padding: 5px 10px;
    text-align: left;
    font-size: 12px;
    min-width: 70px;
    line-height: 1.5rem;
}

.mytable tr:hover{
    filter: brightness(0.95);
}

.x-post-tag{
    padding: 0.05rem 0.375rem;
    border-radius: 0.1rem;
}

.comment-img{
    width: 100px; /* 初始宽度 */
    height: auto; /* 高度自动 */
    cursor: pointer; /* 鼠标悬停时显示手型 */
    transition: transform 0.3s ease; /* 添加过渡效果 */
}

.comment-img.zoomed {
    width: 90%;
}
.content iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.dark .mditor-mini{
    opacity: 0.7;
}

.back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    background: #7693f5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1000;
}

.back-to-top:hover {
    background: #5468ff;
    transform: translateY(-3px);
}

.back-to-top.hidden {
    display: none;
}

.mditor-mini-help, .mditor-mini-emoji, .mditor-mini-preview{
    color: #000;
}

@media (max-width: 768px) { /* 当屏幕宽度小于等于768px时应用以下样式 */
    .mytable {
        display: inline-table;
        width: 100%;
    }

    .mytable thead {
        display: none; /* 隐藏表头 */
    }

    .mytable tbody tr {
        display: block; /* 使表格行成为块级元素 */
        margin-bottom: 10px; /* 设置卡片间距 */
        border: 1px solid #ddd;
        padding: 10px;
    }

    .mytable td {
        display: block; /* 使表格单元格成为块级元素 */
        border: none; /* 移除单元格边框 */
        padding: 5px 0;
    }

    /* 使用伪元素在单元格前添加标签 */
    .mytable td:before {
        content: attr(data-label); /* 获取data-label属性的值 */
        font-weight: bold;
        display: inline-block;
        width: 60px; /* 设置标签宽度 */
    }
}
