{{ define "title"}}
    <title>热点 - {{.siteName}}</title>
    <meta name="keywords" content="竹林,zhulink,抽屉">
    <meta name="description" content="竹林是一个类似抽屉网的内容聚合平台，分享新奇、新闻、有趣的内容，发现新资讯，拓展新视野。">
{{ end }}

{{define "content"}}

{{template "post" .}}

<div class="flex flex-row gap2 items-center text-gray text-xs mt-4">
    {{ if .hasPrev}}
    <a href="?p={{sub .currentPage 1}}" class="hover:text-hover"><< 上一页</a>
    {{end}}
    {{ if .hasNext}}
    <a href="?p={{add .currentPage 1}}" class="hover:text-hover">下一页>></a>
    {{end}}
</div>
{{end}}
{{ define "afterBody"}}{{end}}