{{ define "title"}}
    <title>{{.title}} - {{.siteName}} - {{.slogan}}</title>
    <meta name="keywords" content="竹林,zhulink,资讯聚合,内容推荐,热点评论,用户精选,新闻互动,每日热榜,去算法推荐">
    <meta name="description" content="竹林是一个链接优质内容和真实用户讨论的去算法推荐社区，由用户分享推荐优质资讯，聚焦真实评论与用户共鸣，和真实的人一起筛内容，依靠用户共识挑出值得一读的内容，不靠算法也能刷到好东西。">
{{ end }}

{{define "content"}}

{{template "post" .}}

<div class="flex flex-row gap2 items-center text-gray text-xs mt-4">
    {{ if .hasPrev}}
    <a href="?p={{sub .currentPage 1}}" class="hover:text-hover"><< 上一页</a>
    {{end}}
    {{ if .hasNext}}
    <a href="?p={{add .currentPage 1}}" class="hover:text-hover">下一页>></a>
    {{end}}
</div>
{{end}}
{{ define "afterBody"}}{{end}}