{{ define "title"}}<title>个人角落 - {{.siteName}}</title>{{ end }}

{{define "content"}}


    {{if .msg}}
        <div class="fw-bold my-4">不存在这个用户</div>
        {{.msg}}
    {{else}}
        {{if and (eq .user.Status "Wait") ($.userinfo) (eq $.userinfo.Username .user.Username)}}
            <div class="dark:text-black" style="background-color: #ffd5d5;padding:5px 10px;border-radius: 3px;font-size: smaller;">未激活用户，请先去邮箱激活账户！<a href="/activate?id={{$.userinfo.ID}}">【点击发送激活邮件】</a></div>
        {{end}}

        <div class="flex flex-col gap2 dark:text-white/70">
            <br>
            <div class="flex flex-row gap-8 items-center text-sm" style="line-height: 2em">
                <div>
                    <img src="{{.user.Avatar}}" class="rounded w-20 h-20" alt="{{.user.Username}}" referrerpolicy="no-referrer" rel="noopener" onerror="this.onerror=null; this.src='/static/imgerr.png'"/>
                </div>
                <div>
                    <p class="font-bold text-lg">{{.user.Username}}</p>
                    <p class="text-md">{{.user.Bio}}</p>
                    <p class="text-sm text-gray">第 {{.user.ID}} 号会员, {{.user.CreatedAt.Format "2006-01-02"}} {{if .invitedUsername }} 在 <a
                            href="/u/profile/{{.inviteUserId}}" class="aLink">{{.invitedUsername}}</a> 的盛情邀请下{{end}}加入{{.siteName}}.</p>
                </div>
            </div>
            <br>

            <div class="flex flex-row gap-8 items-center text-sm">
                <div class="font-bold">信任级别</div>
                <div>{{if eq .user.Role "admin"}}{{.user.Role}}{{else}}LV.{{.user.Role}}{{end}}</div>
            </div>

            <div class="flex flex-row gap-8 items-center text-sm">
                <div class="font-bold ">账号状态</div>
                <div>{{.user.Status}}</div>
            </div>

            <div class="flex flex-row gap-8 items-center text-sm">
                <div class="font-bold">提交主题</div>
                <div><a href="/u/profile/{{.user.ID}}/links" class="aLink">{{.user.PostCount}}</a></div>
            </div>

            <div class="flex flex-row gap-8 items-center text-sm">
                <div class="font-bold">发表评论</div>
                <div><a href="/u/profile/{{.user.ID}}/comments" class="aLink">{{.user.CommentCount}}</a></div>
            </div>

            <div class="flex flex-row gap-8 items-center text-sm">
                <div class="font-bold">竹笋数量</div>
                <div>{{.user.Points}}</div>
            </div>

            {{ if $.userinfo}}
                {{if eq $.userinfo.ID .user.ID }}
                    <div class="flex flex-row gap-8 items-center text-sm">
                        <div class="font-bold ">注册邮箱</div>
                        <div>{{.user.Email}}</div>
                    </div>
                    <div class="flex flex-row gap-8 items-center text-sm">
                        <div class="font-bold">我的邀请</div>
                        <a href="/u/invite" class="aLink">邀请码列表</a>
                    </div>
                    <div class="flex flex-row gap-8 items-center text-sm">
                        <div class="font-bold">其他功能</div>
                        <a href="/u/profile/{{.user.ID }}/edit" class="btn">用户设置</a>
                        <a class="dark:text-white/70 underline" href="/u/logout" data-no-instant>退出登录</a>
                    </div>
                    <div class="flex flex-row gap-8 items-center text-sm">
                        <div class="font-bold">三方账号</div>
                        {{if $.user.GoogleId}}
                            <a class="dark:text-white/70 underline" href="https://myaccount.google.com/" target="_blank" title="点击进入google账号中心">已绑定 Google 账号</a>
                        {{else}}
                            <div class="g_id_signin"
                                 data-type="standard"
                                 data-shape="rectangular"
                                 data-theme="outline"
                                 data-text="signin"
                                 data-size="medium"
                                 data-logo_alignment="left"
                                 style="max-width:200px">
                            </div>
                        {{end}}
                    </div>
                {{end}}
            {{end}}
        </div>
        <br>
        <div class="flex gap-2 my-4  text-sm fw-bold dark:text-white/70" style="border-bottom: 1px solid #eee">
            <a class="{{if eq .sub "link"}}border-b border-b-[#5468ff] border-b-solid border-b-2 {{end}} cursor-pointer hover:text-gray"
               href="/u/profile/{{.user.ID}}/links">分享</a>
            <a class="{{if eq .sub "ask"}}border-b border-b-[#5468ff] border-b-solid border-b-2{{end}} cursor-pointer hover:text-gray"
               href="/u/profile/{{.user.ID}}/asks">讨论</a>
            <a class="{{if eq .sub "comments"}}border-b border-b-[#5468ff] border-b-solid border-b-2{{end}} cursor-pointer hover:text-gray"
               href="/u/profile/{{.user.ID}}/comments">评论</a>
            <a class="{{if eq .sub "collects"}}border-b border-b-[#5468ff] border-b-solid border-b-2{{end}} cursor-pointer hover:text-gray"
               href="/u/profile/{{.user.ID}}/collects">收藏</a>
        </div>
        {{template "post" .}}
        {{if .comments}}
            {{range .comments}}
                {{template "comment" dict "Comment" . "Login" false}}
            {{end}}
        {{end}}
        <div class="flex flex-row gap2 items-center text-gray text-xs mt-4">
            {{ if .hasPrev}}
                <a href="?p={{sub .currentPage 1}}" class="hover:text-hover"><< 上一页</a>
            {{end}}
            {{ if .hasNext}}
                <a href="?p={{add .currentPage 1}}" class="hover:text-hover">下一页>></a>
            {{end}}
        </div>
    {{end}}
{{end}}
{{ define "afterBody"}}{{end}}